h1 {
    text-decoration: underline;
}

#first {
    background-color: lightblue;
    border: solid lightsalmon;
    font-family: lucida, monospace;
    font-size: 100px;
    width: 120px;
    height: 140px;
    text-align: center;
}

#second {
    background-color: lightblue;
    border: solid lightsalmon;
    font-family: lucida, monospace;
    font-size: 100px;
    width: 120px;
    height: 140px;
    text-align: center;
}

#roll {
    font-size: 50px;
}

.dice {
    font-size: 25px;
}

.bar {
    font-size: x-large;
    background-color: lightblue ;
    border: solid lightsalmon;
    display: flex;
}